html, body
{
margin: 0;
padding: 0;
overflow: hidden;
}

html.spinning
{
width: 100%;
height: 100%;
}
body.spinning
{
width: 100%;
height: 100%;
background: #ffffff;
}
div{display: block;}

div.statii
{
position: absolute;
width: 200px;
height: 36px;
left: 6px;
top: 18px;
color: #FDFDFD;
}
