html, body
{
	width:100%;
}

body
{
	height: 300px;
	overflow: hidden;
	padding:0;
	margin:0;
}

object
{
	width: 100%;
	height:100%;
}

a
{
	border:none;
	border: 0;
	text-decoration: none;
	color:white;
}

a:hover
{
	text-decoration:underline;
	color:yellow;
}

a.big
{
width: 100%;
height:100%;
display:block;
}

#id1{ background: url('../images/pic1.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id2{ background: url('../images/pic2.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id3{ background: url('../images/pic3.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id4{ background: url('../images/pic4.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id5{ background: url('../images/pic5.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id6{ background: url('../images/pic6.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id7{ background: url('../images/pic7.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id8{ background: url('../images/pic8.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id9{ background: url('../images/pic9.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id10{ background: url('../images/pic1.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id12{ background: url('../images/pic2.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id13{ background: url('../images/pic3.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }

.exhibit
{
    position: absolute;
    display: block;
    color: white;
    width: 90px;
    height: 80px;
	
	border: 2px white solid;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.exhibit a
{
	width: 100%;
	height:100%;
	display:block;
}

.exhibit h4
{
	margin-top: 1em;
	margin-bottom: 0px;
	background: #000000;
}

.exhibit div
{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	
	position: absolute;
	width: 100px;
	height: 80px;
	display: block;

	border: 0px black solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	padding: 0;
	margin: 0;
	
	padding-left: 2px;
	padding-right: 2px;
	
	background: -webkit-radial-gradient(blue, black, blue); /* Safari */
	background: -o-radial-gradient(blue, black, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(blue, black, blue); /* For Firefox 3.6 to 15 */
	background: radial-gradient(blue, black, blue); /* Standard syntax */
}

.dpad
{
	position:absolute;
	width:92px;
	height:136px;
	left:0;
	top:64px;
	
	z-index:12;
}

.arrowu
{
	background: url('../images/arrow-u3.png') no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;

	width:64px;
	height:64px;

	position:absolute;
	left:10px;
	top:0px;
}

.arrowd
{
	background: url('../images/arrow-d3.png') no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;

	width:64px;
	height:64px;

	position:absolute;
	left:10px;
	top:72px;
}

