html, body
{
	height:100%;
	margin:0;
	padding:0;
}

body
{
	background: #222;
	font-family: Georgia, serif;
	color: #fff;
	font-size: 14px;

/*background: #8A9FF6;*/

	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #A5C5EF 0%, #222 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #A5C5EF 0%, #222 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #A5C5EF 0%, #222 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #A5C5EF), color-stop(1, #222));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #A5C5EF 0%, #222 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #A5C5EF 0%, #222 100%);
}

.border-box
{
	border: #4952B4 2px solid;
	/*width: 96%;*/
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom:0;
	/*height: 80%;*/
	/*height:99%;*/
	margin: 0;
	margin-left: 2%;
	margin-right: 2%;
	padding: 3px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	background: url(Images/fresh_snow.png) #F0F0F0;
}

h1, h2, h3
{
	color: #6486A8;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	font-size: 1.5em;
	font-style: italic;
	margin-bottom:0;
}

.hidden
{display: none;}

.contentpane
{
	border-top: 1px solid;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	bottom:0;
}

.slidecontainer
{
height: 100%;
}

.slidesjs-container
{
width: 100%;
height: 100%;
}

x.slidesjs-slide
{
	height: 100%;
}

#navmenu
{
	position:absolute;
	left:0;
	right:0;
	top: -30px;
	display: block;
	list-style-type:none;
	z-index: 10;
}

#navmenu li
{display: inline;}

#navmenu li a
{
float:left;
width:110px;
height: 100%;
text-decoration:none;
color:white;
background-color:grey;
padding:0.2em 0.6em;
border-top:1px solid white;
border-bottom:1px solid white;
border-right:1px solid white;
}
#navmenu li a:hover {background-color:#ff3300;}

/*
"Slide"-specific code goes here, the rest above was just setup.
*/
#slides{width: 100%;}
#slide1{background: url(Images/slide_0.jpg) no-repeat;}
#slide2{background: url(Images/slide_1.jpg) no-repeat;}
#slide3{background: url(Images/slide_2.jpg) no-repeat;}
#slide4{background: url(Images/slide_3.jpg) no-repeat;}
#slide5{background: url(Images/slide_4.jpg) no-repeat;}
#slide6{background: url(Images/slide_1.jpg) no-repeat;}
#slide7{background: url(Images/slide_3.jpg) no-repeat;}