html, body
{
	width:100%;
	height:100%;
}

body
{
	font-size:18px;
	text-shadow: 1px 1px 2px #676fa3;
	filter: dropshadow(color=#676fa3, offx=1, offy=1);
}

body, div, p, span
{
	margin:0;
	padding:0;
}

object
{
	width: 100%;
	height:100%;
	z-index:4;
}

a
{
	border: 0;
	text-decoration: none;
	color:white;
}

a:hover
{
	text-decoration:underline;
	color:yellow;
}

p.quote
{
	margin-left:2em;
	margin-top:1em;
	margin-bottom:1em;
	font-style:italic;
}

#id1{ background: url('../images/pic1.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id2{ background: url('../images/pic2.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id3{ background: url('../images/pic3.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id4{ background: url('../images/pic4.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id5{ background: url('../images/pic5.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id6{ background: url('../images/pic6.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id7{ background: url('../images/pic7.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id8{ background: url('../images/pic8.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }
#id9{ background: url('../images/pic9.jpg') no-repeat; background-position:0 0; background-size: 100% 100%; }

.exhibit
{
    position: absolute;
    display: inline-block;
    color: white;
    width: 200px;
    height: 80px;
	
	border: 2px white solid;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.exhibit a
{
	width: 100%;
	height:100%;
}

.exhibit h4
{
	margin-top: 1em;
	margin-bottom: 0px;
	background: black;
}

.exhibit span
{
	font-size: 12px;
}

.menubar
{
	display: block;
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: absolute;
	left:0;
	top:0;
}

.menubutton
{
	display:block;
	width:100%;
	height:20px;
	z-index: 10;
	position:absolute;
	bottom:0;
	left:0;

	/* fallback */
	background-color: #1a82f7;
	background: url('images/menu-bar.png');
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #573A3A, #1a82f7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #2F2727, #1a82f7);
	/* IE 10 */
	background: -ms-linear-gradient(top, #2F2727, #1a82f7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #2F2727, #1a82f7);
}

.centermenu
{
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: white 2px solid;
	border-right: white 2px solid;
	border-left: white 2px solid;
	
	-webkit-border-bottom-right-radius: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}

.centermenu p
{
	padding:0 10px 0 10px;
	color:white;
	font-size:14px;
	text-align: center;
}

.bodycontent
{
	padding: 10px;
}
