
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}
html {height: 100%;}
body {
  margin: 0px; 
  background-color: #000;
  background-image: url("images/bg.png");
  height: 100%;
}

#stage {
  position: absolute;
  margin: 0px;
  background-image: url("images/mazebg.png");
  border: 0px solid #e44a26;
  width: 100%;
  height: 100%;
  
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#gameboard {
  width: 100%;
  height: 99%;
  position: absolute;
}

#myCanvas {width: 100%; height: 100%;}

.menu_item  {
  cursor: pointer;
  position: absolute;
}

#menu_container {
  position: absolute;
}

#welcome_msg_container {
  background-image: url("../images/panel_welcome.png");
  position:absolute;
  left:0px;
  top:10px;
  width: 458px;
  height: 170px;
}

#welcome_msg {
  color: #ebebeb;
  padding-top: 16px;
  padding-left: 170px;
  font: 28pt "Arial Narrow", Arial, sans-serif;
  position: absolute;
}

#welcome_submsg {
  color: #aaa;
  padding-top: 58px;
  padding-left: 170px;
  font: 20pt "Arial Narrow", Arial, sans-serif;
  position: absolute;
}

#welcome_img {
  padding-top: 11px;
  padding-left: 9px;
  position: absolute;
}

#ingame_scoreText {
  color: #ccc;
  position: absolute;
  top: 10px;
  right: 20px;
  font: 20pt "Arial Narrow", Arial, sans-serif;
}

#ingame_smashText {
  color: #e44a26;
  position: absolute;
  top: 10px;
  left: 20px;
  font: 26pt "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 2px #000000;
}

#ingame_life0 {
  position: absolute;
  top: 50px;
  left: 16px;
  width: 64px;
  height: 64px;
  background-image: url("../images/heart.png"); 
}

#ingame_life1 {
  position: absolute;
  top: 50px;
  left: 86px;
  width: 64px;
  height: 64px;
  background-image: url("../images/heart.png"); 
}

#ingame_life2 {
  position: absolute;
  top: 50px;
  left: 156px;
  width: 64px;
  height: 64px;
  background-image: url("../images/heart.png"); 
}

#scoreboard_container {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
  width: 452px;
  padding-top: 20px;
  position: relative;
  right: -4px;
}

.scoreboard_tournament_stub {
  background-image: url("../images/scoreboardentry_tournament.png");
  width: 450px;
  height: 112px;
  right: 0;
  position: relative;
  margin-bottom: 10px;
}

.scoreboard_tournament_stub_time {
  font: 18pt "Arial Narrow", Arial, sans-serif;
  color: #262626;
  text-align: center;
  left: 120px;
  top: 90px;
  width: 310px;
  position: absolute;
}

.scoreboard_stub {
  background-image: url("../images/scoreboardentry_right.png");
  width: 450px;
  height: 112px;
  right: 0;
  position: relative;
  margin-bottom: 10px;
}

.scoreboard_stub_rank {
  font: 60pt "Arial Narrow", Arial, sans-serif;
  color: #262626;
  position: relative;
  top: 10px;
  left: 30px;
  text-align: left;
}

.scoreboard_stub_name {
  font: 26pt "Arial Narrow", Arial, sans-serif;
  color: #ebebeb;
  text-align: left;
  left: 216px;
  top: -88px;
  position: relative;
}

.scoreboard_stub_score {
  font: 20pt "Arial Narrow", Arial, sans-serif;
  color: #ebebeb;
  text-align: left;
  left: 216px;
  top: -90px;
  position: relative;
}

.scoreboard_stub_challengebutton {
  left: 280px;
  top: -158px;
  width: 52px;
  height: 96px;
  position: relative;
}

.scoreboard_stub_image {
  left: 106px;
  top: -155px;
  width: 97px;
  position: relative;
}

#menu_shim {
  position: absolute;
}


